---
import ArrowOutward from './icons/ArrowOutward.astro';
import ArrowDown from './icons/ArrowDown.astro';

const EXPERIENCE = [
  {
    date: 'Sept 2024 - Actualidad',
    title: 'Desarrollador Frontend',
    company: 'Esinergia S.A.S',
    companyUrl: 'https://esinergia.co',
    location: 'Remoto',
    summary:
      'Desarrollo e implementación de interfaces personalizadas utilizando React.js, Drupal y Site Studio, enfocado en crear componentes modulares y optimizar el rendimiento de aplicaciones web.',
    responsibilities: [
      'Implementación de interfaces de usuario personalizadas con React.js, Drupal y Site Studio.',
      'Desarrollo de componentes modulares y escalables en Storybook con integraciones de Twig y SASS.',
      'Optimización de aplicaciones para mejorar rendimiento y tiempos de carga.',
      'Participación en reuniones con stakeholders para alinear soluciones con objetivos del cliente.',
    ],
    achievements: [
      'Reducción del 30% en tiempo de desarrollo mediante componentes reutilizables en Storybook.',
      'Aumento del 20% en velocidad de carga de interfaces optimizando estilos y recursos.',
      'Incorporación de Twig para plantillas dinámicas, mejorando la adaptabilidad del diseño a múltiples plataformas.',
      'Implementación de un flujo de trabajo eficiente utilizando npm, Gulp, Docker y ddev para la gestión del entorno de desarrollo.',
    ],
    technologies: [
      'React',
      'SASS',
      'Storybook',
      'Twig',
      'Drupal',
      'Site Studio',
      'Docker',
    ],
  },
  {
    date: 'Sept 2022 - Sept 2024',
    title: 'Desarrollador De Software',
    company: 'Coordinadora de Tanques S.A.S',
    companyUrl: 'https://coorditanques.com',
    location: 'Medellín, Colombia',
    summary:
      'Desarrollo de soluciones y automatización de procesos críticos mediante Node.js, Express.js y bases de datos relacionales, mejorando la eficiencia operativa y la integración de sistemas.',
    responsibilities: [
      'Implementación de automatizaciones para procesos críticos usando Node.js, MongoDB y APIs RESTful.',
      'Desarrollo de soluciones para integrar sistemas heredados con Express.js, Next.js y SQL Server.',
      'Implementación de nuevas funcionalidades en plataformas internas con Angular y TypeScript.',
      'Optimización de consultas y generación de informes dinámicos.',
    ],
    achievements: [
      'Automatización del 50% de procesos manuales, mejorando significativamente la productividad operativa y estableciendo bases para futuras implementaciones de RPA.',
      'Reducción del 40% en tiempo de inactividad mediante mantenimiento preventivo.',
      'Optimización de consultas SQL para mejorar la extracción de datos y reportes en Power BI.',
      'Desarrollo de dashboards interactivos en Power BI integrados con SQL Server, proporcionando visualizaciones para toma de decisiones.',
    ],
    technologies: [
      'Next.js',
      'Angular',
      'TypeScript',
      'Node.js',
      'MongoDB',
      'SQL Server',
      'Express.js',
      'Power BI',
    ],
  },
];
---

<div class="flex flex-col gap-8">
  {
    EXPERIENCE.map((experience, index) => (
      <div class="group relative grid pb-1 sm:grid-cols-12 sm:gap-8 md:gap-6">
        <header class="relative mt-1 text-sm font-semibold sm:col-span-2 text-pretty">
          <time datetime={experience.date}>
            {experience.date.split(' - ')[0]}
          </time>{' '}
          -{' '}
          <time>
            {experience.date.includes('Actualidad')
              ? 'Actualidad'
              : experience.date.split(' - ')[1]}
          </time>
        </header>
        <div class="relative flex flex-col pb-6 before:-ml-6 text-base sm:col-span-10 before:w-px before:absolute before:bg-blue-300 before:h-full before:mt-2">
          <div class="absolute size-[10px] bg-secondary-500 rounded-full mt-2 -translate-x-[1.80rem] ring ring-gray-800" />
          <h3>
            <div class="inline-flex items-center text-xl text-balance leading-tight">
              <span>
                {experience.title}
                <a
                  class="group/more text-primary-400 font-bold inline-flex items-center gap-1"
                  href={experience.companyUrl}
                  title={`Ver ${experience.company}`}
                  target="_blank"
                >
                  {experience.company}
                  <span class="group-hover/more:translate-x-0.5 group-hover/more:-translate-y-0.5 duration-200 ease-out">
                    <ArrowOutward class="size-6" />
                  </span>
                </a>
              </span>
            </div>
          </h3>
          <div class="text-md text-gray-500 font-bold italic">
            {experience.location}
          </div>
          <div
            class="mt-4 flex flex-col gap-4 text-sm"
            x-data="{ expanded: false }"
          >
            <div class="flex flex-col gap-1">
              <h4 class="text-lg font-semibold">Resumen:</h4>
              <ul class="text-gray-400 [&>li]:ml-6 text-base flex list-disc flex-col gap-2 marker:text-blue-500 marker:text-xl">
                <li class="text-secondary-100">{experience.summary}</li>
              </ul>
            </div>
            <div
              class="flex relative flex-col gap-4 overflow-hidden transition-all duration-500"
              x-bind:class="expanded ? 'max-h-[600px] opacity-100' : 'max-h-0 opacity-0'"
            >
              <div class="flex flex-col gap-1">
                <h4 class="text-lg font-semibold">Responsabilidades:</h4>
                <ul class="text-gray-400 [&>li]:ml-6 text-base flex list-disc flex-col gap-2 marker:text-blue-500 marker:text-xl">
                  {experience.responsibilities.map((resp) => (
                    <li class="text-secondary-200">{resp}</li>
                  ))}
                </ul>
              </div>
              <div class="flex flex-col gap-1">
                <h4 class="text-lg font-semibold">Logros:</h4>
                <ul class="text-gray-400 [&>li]:ml-6 text-base flex list-disc flex-col gap-2 marker:text-blue-500 marker:text-xl">
                  {experience.achievements.map((achievement) => (
                    <li class="text-secondary-200">{achievement}</li>
                  ))}
                </ul>
              </div>
            </div>

            <button
              @click="expanded = !expanded"
              class="group/more w-fit cursor-pointer items-center justify-center gap-1.5 text-xs underline text-gray-400 transition-all duration-300 hover:text-white flex"
            >
              <span
                class="text-base text-secondary-400 underline italic"
                x-text="expanded ? 'Mostrar menos' : 'Mostrar más'"
              >
                Mostras más
              </span>
              <ArrowDown class="text-secondary-400 size-6" />
            </button>

            <ul
              class="flex flex-wrap gap-2 italic"
              aria-label="Technologies used"
            >
              {experience.technologies.map((tech) => (
                <li class="text-primary-400 flex gap-1 items-center border-solid border rounded-md px-2 py-1 text-sm">
                  <span>{tech}</span>
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    ))
  }
</div>
