---
import ArrowOutward from './icons/ArrowOutward.astro';
import ArrowDown from './icons/ArrowDown.astro';
import { EXPERIENCE } from '@/data/experience';
import { useTranslations } from '@/i18n';
import type { Locale } from '@/i18n';

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const experiences = EXPERIENCE[lang];
---

<div class="flex flex-col gap-8">
  {
    experiences.map((experience) => (
      <div class="group relative grid pb-1 sm:grid-cols-12 sm:gap-8 md:gap-6">
        <header class="relative mt-1 text-sm font-semibold sm:col-span-2 text-pretty">
          <time datetime={experience.date}>
            {experience.date.split(' - ')[0]}
          </time>{' '}
          -{' '}
          <time>
            {experience.date.split(' - ')[1]}
          </time>
        </header>
        <div class="relative flex flex-col pb-6 before:-ml-6 text-base sm:col-span-10 before:w-px before:absolute before:bg-blue-300 before:h-full before:mt-2">
          <div class="absolute size-[10px] bg-secondary-500 rounded-full mt-2 -translate-x-[1.80rem] ring ring-gray-800" />
          <h3>
            <div class="inline-flex items-center text-xl text-balance leading-tight">
              <span>
                {experience.title}
                <a
                  class="group/more text-primary-400 font-bold inline-flex items-center gap-1"
                  href={experience.companyUrl}
                  title={`${t('experience.view')} ${experience.company}`}
                  target="_blank"
                >
                  {experience.company}
                  <span class="group-hover/more:translate-x-0.5 group-hover/more:-translate-y-0.5 duration-200 ease-out">
                    <ArrowOutward class="size-6" />
                  </span>
                </a>
              </span>
            </div>
          </h3>
          <div class="text-md text-gray-500 font-bold italic">
            {experience.location}
          </div>
          <div
            class="mt-4 flex flex-col gap-4 text-sm"
            x-data={`{ expanded: false, showMore: '${t('experience.showMore')}', showLess: '${t('experience.showLess')}' }`}
          >
            <div class="flex flex-col gap-1">
              <h4 class="text-lg font-semibold">{t('experience.summary')}</h4>
              <ul class="text-gray-400 [&>li]:ml-6 text-xs flex list-disc flex-col gap-2 marker:text-blue-500 marker:text-xl">
                <li class="text-secondary-100">{experience.summary}</li>
              </ul>
            </div>
            <div
              class="flex relative flex-col gap-4 overflow-hidden transition-all duration-500"
              x-bind:class="expanded ? 'max-h-[600px] opacity-100' : 'max-h-0 opacity-0'"
            >
              <div class="flex flex-col gap-1">
                <h4 class="text-lg font-semibold">{t('experience.responsibilities')}</h4>
                <ul class="text-gray-400 [&>li]:ml-6 text-xs flex list-disc flex-col gap-2 marker:text-blue-500 marker:text-xl">
                  {experience.responsibilities.map((resp) => (
                    <li class="text-secondary-200">{resp}</li>
                  ))}
                </ul>
              </div>
              <div class="flex flex-col gap-1">
                <h4 class="text-lg font-semibold">{t('experience.achievements')}</h4>
                <ul class="text-gray-400 [&>li]:ml-6 text-xs flex list-disc flex-col gap-2 marker:text-blue-500 marker:text-xl">
                  {experience.achievements.map((achievement) => (
                    <li class="text-secondary-200">{achievement}</li>
                  ))}
                </ul>
              </div>
            </div>

            <button
              @click="expanded = !expanded"
              class="group/more w-fit cursor-pointer items-center justify-center gap-1.5 underline text-gray-400 transition-all duration-300 hover:text-white flex"
            >
              <span
                class="text-xs text-secondary-400 underline italic"
                x-text="expanded ? showLess : showMore"
              >
                {t('experience.showMore')}
              </span>
              <ArrowDown class="text-secondary-400 size-6" />
            </button>

            <ul
              class="flex flex-wrap gap-2 italic"
              aria-label="Technologies used"
            >
              {experience.technologies.map((tech) => (
                <li class="text-primary-400 flex gap-1 items-center border-solid border rounded-md px-2 py-1 text-xs">
                  <span>{tech}</span>
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    ))
  }
</div>
