---
import NextJS from '@/components/icons/NextJS.astro';
import React from '@/components/icons/React.astro';
import Tailwind from '@/components/icons/Tailwind.astro';
import Clerk from '@/components/icons/Clerk.astro';
import Prisma from '@/components/icons/Prisma.astro';
import Chart from '@/components/icons/Chart.astro';
import FolderIcon from '@/components/icons/FolderIcon.astro';
import ArrowOutward from '@/components/icons/ArrowOutward.astro';
import ArrowDown from '@/components/icons/ArrowDown.astro';
import GitHub from '@/components/icons/GitHub.astro';
import ExternalLink from '@/components/icons/ExternalLink.astro';
import Twig from '@/components/icons/PhpIcon.astro';
import Storybook from '@/components/icons/Storybook.astro';
import Figma from '@/components/icons/Figma.astro';
import JavaScript from '@/components/icons/JavaScript.astro';
import SCSS from '@/components/icons/SCSS.astro';

const TAGS = {
  NEXTJS: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  REACT: {
    name: 'React',
    color: 'text-red-300',
    icon: React,
  },
  TAILWINDCSS: {
    name: 'TailwindCSS',
    class: 'bg-sky-500 text-white',
    icon: Tailwind,
  },
  CLERK: {
    name: 'Clerk',
    class: 'bg-purple-800 text-white',
    icon: Clerk,
  },
  PRISMA: {
    name: 'Prisma',
    class: 'bg-white text-black',
    icon: Prisma,
  },
  RECHARTS: {
    name: 'Recharts',
    class: 'bg-blue-500 text-white',
    icon: Chart,
  },
  TWIG: {
    name: 'Twig',
    class: 'bg-emerald-900 text-white',
    icon: Twig,
  },
  STORYBOOK: {
    name: 'Storybook',
    class: 'bg-pink-600 text-white',
    icon: Storybook,
  },
  FIGMA: {
    name: 'Figma',
    class: 'bg-purple-900 text-white',
    icon: Figma,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-yellow-300 text-black',
    icon: JavaScript,
  },
  SCSS: {
    name: 'SCSS',
    class: 'bg-rose-400 text-white',
    icon: SCSS,
  },
};

const PROJECTS = [
  {
    title: 'Universidad de los Andes - Secretaría General',
    description:
      'Sistema de gestión académica desarrollado con Next.js y Prisma, que permite a los estudiantes gestionar su información académica de manera eficiente.',
    link: 'https://www.uniandes.edu.co/es/la-universidad/gobierno-universitario',
    tags: [TAGS.TWIG, TAGS.SCSS, TAGS.STORYBOOK, TAGS.FIGMA, TAGS.JAVASCRIPT],
    highlights: [
      'Desarrollado con Next.js 14 y React 18',
      'Autenticación integrada con ClerkJS',
      'Estadísticas interactivas con Recharts',
      'Formularios validados con React Hook Form y Zod',
      'Diseño responsive con soporte para modo oscuro',
      'Gestión de base de datos con Prisma ORM',
      'Calendario avanzado usando FullCalendar',
      'Estilo moderno con Tailwind CSS',
      'Consumo de APIs con Axios y manejo de fechas con date-fns',
    ],
  },
  {
    title: 'Dashboard Administrativo',
    description:
      'Panel administrativo completo desarrollado con Next.js que ofrece una interfaz intuitiva para la gestión de datos y visualización de estadísticas en tiempo real.',
    link: 'https://crud-dataviewer.vercel.app/',
    github: 'https://github.com/luisalmenarez/Dashboard',
    tags: [
      TAGS.NEXTJS,
      TAGS.TAILWINDCSS,
      TAGS.CLERK,
      TAGS.PRISMA,
      TAGS.RECHARTS,
    ],
    highlights: [
      'Desarrollado con Next.js 14 y React 18',
      'Autenticación integrada con ClerkJS',
      'Estadísticas interactivas con Recharts',
      'Formularios validados con React Hook Form y Zod',
      'Diseño responsive con soporte para modo oscuro',
      'Gestión de base de datos con Prisma ORM',
      'Calendario avanzado usando FullCalendar',
      'Estilo moderno con Tailwind CSS',
      'Consumo de APIs con Axios y manejo de fechas con date-fns',
    ],
  },
];
---

<div class="md:grid-cols-2 print:flex print:flex-col grid grid-cols-1 gap-6">
  {
    PROJECTS.map(({ title, description, tags, link, github, highlights }) => (
      <article
        class="bg-zinc-900 border-zinc-800 hover:border-zinc-700 relative flex flex-col p-6 transition-colors duration-200 border rounded-lg shadow-lg"
        x-data="{ expanded: false }"
      >
        <div class="flex items-center justify-between mb-3">
          {link && (
            <a
              href={link}
              target="_blank"
              rel="noopener noreferrer"
              class="group/more text-primary-400 flex gap-2 p-1 rounded"
            >
              <FolderIcon class="size-5 text-zinc-400" />

              <h3 class="text-base font-semibold leading-tight">{title}</h3>
              <span class="group-hover/more:translate-x-0.5 group-hover/more:-translate-y-0.5 duration-200 ease-out">
                <ArrowOutward class="size-5" />
              </span>
            </a>
          )}
        </div>
        <p class="text-zinc-300 mb-4 text-sm">{description}</p>
        <div
          class="relative flex flex-col gap-4 mb-4 overflow-hidden transition-all duration-500"
          x-bind:class="expanded ? 'max-h-[400px] opacity-100' : 'max-h-0 opacity-0'"
        >
          <h4 class="text-lg font-semibold">Caracteristicas:</h4>
          <ul class="text-zinc-300 space-y-2 text-sm">
            {highlights.map((highlight) => (
              <li class="flex items-start gap-2">
                <div class="w-1.5 h-1.5 rounded-full bg-zinc-500 flex-shrink-0 mt-2" />
                <span>{highlight}</span>
              </li>
            ))}
          </ul>
        </div>
        <button
          @click="expanded = !expanded"
          class="group/more w-fit cursor-pointer items-center justify-center gap-1.5 text-xs underline text-zinc-400 transition-all duration-300 hover:text-white flex mb-4"
        >
          <span
            class="text-zinc-400 text-sm italic underline"
            x-text="expanded ? 'Mostrar menos' : 'Mostrar más'"
          >
            Mostrar más
          </span>
          <ArrowDown
            class="text-zinc-400 size-4 transition-transform duration-300"
            x-bind:class="expanded ? 'rotate-180' : ''"
          />
        </button>
        <div class="flex flex-wrap gap-2 mb-4">
          {tags.map((tag) => (
            <span
              class={`inline-flex items-center gap-1.5 rounded-full text-xs py-1 px-2.5 ${tag.class}`}
            >
              <tag.icon class="size-3" />
              {tag.name}
            </span>
          ))}
        </div>
        <div class="border-zinc-800 flex gap-6 pt-4 mt-auto border-t">
          {github && (
            <a
              href={github}
              target="_blank"
              rel="noopener noreferrer"
              class="text-zinc-400 hover:text-white inline-flex items-center gap-2 text-sm transition-colors"
            >
              <GitHub class="size-5" />
              Ver en GitHub
            </a>
          )}
          {link && (
            <a
              href={link}
              target="_blank"
              rel="noopener noreferrer"
              class="text-zinc-400 hover:text-white inline-flex items-center gap-2 text-sm transition-colors"
            >
              <ExternalLink class="size-5" />
              Visitar sitio
            </a>
          )}
        </div>
      </article>
    ))
  }
</div>
